.rb {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hl, b, strong {
    color: rgb(66, 175, 250);
}

li {
    list-style-image: url(li.png);
}

.container{
    display: flex;
}
.col{
    flex: 1;
}